@import "tailwindcss";

.overlay-top,
.overlay-bottom {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 33.33%; /* One third of the container */
  background-color: rgba(255, 255, 255, 0.75);
  pointer-events: none; /* Allows clicks to pass through to underlying content */
}

.welcome-modal {
  width: 100dvw;
  height: 100dvh;
  /* max-width: 100dvw;
  max-height: 100dvh; */
  /* height: calc(var(--vh, 1vh) * 100); */
  inset: 0;
  position: fixed;
  z-index: 100;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
  background-color: #ffffff;
}

.spring {
  transition-timing-function: var(--spring-easing);
  transition-duration: var(--spring-duration);
  --spring-easing: linear(
    0,
    0.0021 0.42%,
    0.0098 0.92%,
    0.0373 1.85%,
    0.0845 2.86%,
    0.152 3.95%,
    0.301 5.88%,
    0.7741 11.35%,
    0.8994 13.03%,
    0.9954 14.54%,
    1.0777 16.14%,
    1.1369 17.65%,
    1.1599 18.41%,
    1.1803,
    1.1956,
    1.2062 20.93%,
    1.2131 21.94%,
    1.2142 23.03%,
    1.2089,
    1.198 25.39%,
    1.184 26.48%,
    1.1642 27.74%,
    1.0567 33.54%,
    1.0314 35.05%,
    1.0105 36.48%,
    0.9899,
    0.9742,
    0.9632,
    0.9567 43.21%,
    0.954 45.48%,
    0.9574 48%,
    0.9649 50.44%,
    0.9876 56.15%,
    0.9973 59.01%,
    1.0048 62.12%,
    1.0089 65.31%,
    1.0092 70.61%,
    1.0011 80.95%,
    0.9985 86.25%,
    0.9992 99.95%
  );
  --spring-duration: 0.62s;
}

.glow {
  text-shadow: #fcd34dad 1px 0 10px;
}

.box-glow {
  box-shadow: #fde04777 1px 0 10px;
}
.button-glow {
  box-shadow: #d8b4fe77 1px 0 10px;
}
.overlay-top {
  top: 0;
}

.overlay-bottom {
  bottom: 0;
}
html,
body {
  overscroll-behavior: none;
}

/* Wiggle Animation for Loader Icon */
@keyframes wiggle {
  0% {
    transform: translateY(0);
    color: oklch(82.7% 0.119 306.383);
  }
  50% {
    transform: translateY(-10px);
    color: oklch(92.4% 0.12 95.746);
  }
  100% {
    transform: translateY(0);
    color: oklch(82.7% 0.119 306.383);
  }
}

:root {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
