@import "tailwindcss";

.overlay-top,
.overlay-bottom {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 33.33%; /* One third of the container */
  background-color: rgba(255, 255, 255, 0.75);
  pointer-events: none; /* Allows clicks to pass through to underlying content */
}

.welcome-modal {
  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
  position: fixed;
  z-index: 100;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
  background-color: #ffffff;
  /* backdrop-filter: blur(2px); */
}

.glow {
  text-shadow: #fcd34dad 1px 0 10px;
}

.box-glow {
  box-shadow: #fde04777 1px 0 10px;
}
.button-glow {
  box-shadow: #d8b4fe77 1px 0 10px;
}
.overlay-top {
  top: 0;
}

.overlay-bottom {
  bottom: 0;
}
html,
body {
  overscroll-behavior: none;
}

/* Wiggle Animation for Loader Icon */
@keyframes wiggle {
  0% {
    transform: translateY(0);
    color: oklch(82.7% 0.119 306.383);
  }
  50% {
    transform: translateY(-10px);
    color: oklch(92.4% 0.12 95.746);
  }
  100% {
    transform: translateY(0);
    color: oklch(82.7% 0.119 306.383);
  }
}

:root {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
